{% extends 'base.html.twig' %}

{% block title %}New comment{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>New Comment</h1>

    {{ include('comment/_form.html.twig') }}
</div>
{% endblock %}
